# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables
.env
.env*.local

# Dependencies
node_modules/
.pnp
.pnp.js

# Monorepo & Build tools
.turbo/
*.tsbuildinfo
.rollup.cache/

# Build outputs
dist/
build/
out/
.next/

# Testing
coverage/

# Next.js
next-env.d.ts

# Vercel
.vercel

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
*.pem

# IDE
.vscode/settings.json
.idea/

# Misc
.hintrc